*{
    margin: 0 ;
    padding: 0;
    
}

.head{
/*
   
   width: 700px;
    margin: 0 auto;
    margin-top: 400px;
    margin-bottom: 430px;;
*/
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: center center;
    
    
}
.logo{
    
   width: 700px;
    margin: 0 ;
    
    margin-top: 400px;
    margin-bottom: 430px;
    margin-left: 500px;
    text-align: center;
   
}

.about{
    background-color: rgba(243,160,122,0.7);
    height: 1000px;
}
.about h1{
    font-size: 100px;
    font-family:"HiraMinProN-W6" , sans-serif;
    font-weight:  1;
    text-align: center;
    
       
/*
    border: 2px solid #ed7e41;
   border-radius: 10px;
*/
    width: 1500px;
    padding-top: 50px;
 margin-left: auto;
    margin-right: auto;
}
.about img{
  width: 650px;
    float: left;
  padding-top: 20px;
    padding-left: 20px;
    
}

.about p{
    padding-top: 20px;
     font-size: 50px;
    font-family:"HiraMinProN-W6" , sans-serif;
    font-weight:  1;
    text-align: center;
    
 
}
.images{
    height: 1500px;
}
.images-1 img{
    width: 650px;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.seru{
    height: 700px;
      background-color: rgba(243,160,122,0.7);
   
    
}

.seru p {
    width: 1000px;
 margin-left: 20px;
    margin-top: 50px;
    border: 5px solid #ed7e41;
    border-radius: 10px;
  float: left;
    
    font-family: "Hiragino Maru Gothic Pro";
        font-size: 20px;
    font-weight: 1;
/*    text-align: center;*/
    padding: 20px;
    line-height: 2;
    
}
.seru p span{
 
    font-size: 50px;
    text-align: center;
}
.seru-image{
      width: 650px;
    float: left;
  padding-top: 20px;
    padding-left: 20px;

    
}
.seru-image2{
    width: 400px;
    float: right;
    margin-right: 100px;
    margin-top: 120px;
}

.images{
    width: 1700px;
    margin: 0 auto;
    margin-top: 200px;
    
}
.images li{
    padding-left: 20px;
      padding-top: 100px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.images {
    opacity : 0;
    transform : translate(0, 50px);
    transition : all 300ms;
}
.images.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}