*{
    margin: 0 ;
    padding: 0;
    
}

@font-face{
    font-family:"check";
    src:url("fonts/CP_Revenge.ttf");
}

.head{

padding-left: 100px;
    background-color:  #ff9c72;

}
.logo{
    position: absolute;
   width: 700px;
  margin: 400px;
    text-align: center;
   z-index: 20;
}

#css-slider {
	width: 1500px;
	height: 1000px;
	overflow: hidden;
}
 
.slide-item {
	width: 1500px;
	height: 1000px;
	float: left;
	position: relative;
}
 
 
.slider-wrapper {
	width: 700%;
	position: relative;
	left: 0;
	will-change: transform;
	animation: slider 30s infinite;
}
 
@keyframes slider {
  0% { transform: translateX(0); }
  15% { transform: translateX(-1500px); }
  30% { transform: translateX(-3000px); }
     45% { transform: translateX(-4500px); }
     60% { transform: translateX(-6000px); }
     75% { transform: translateX(-7500px); }
     90% { transform: translateX(-9000px); }
  100% { transform: translateX(0); }
}



.about{
   background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    height: 1000px;
}
.about h1{
    font-size: 120px;
    font-family:"HiraMinProN-W6" , sans-serif;
    font-weight:  1;
    text-align: center;
    

    width: 1500px;
    padding-top: 50px;
 margin-left: auto;
    margin-right: auto;
}

.about p strong{
    
       padding-top: 20px;
  
    color: brown;
     font-size: 20px;
    font-family:"HiraMinProN-W6" , sans-serif;
    font-weight:  1;
    text-align: center;
}
.about img{
  width: 650px;
    float: left;
  padding-top: 20px;
    padding-left: 20px;
    
}

.about p{
    padding-top: 100px;
     font-size: 40px;
    font-family:"HiraMinProN-W6" , sans-serif;
    font-weight:  1;
    text-align: center;
    line-height: 2;
    
 
}
.images{
    height: 1500px;
}
.images-1 img{
    width: 650px;
    float: right;
    padding-top: 20px;
    padding-right: 100px;
    margin-bottom: 50px;
}

.seru{
    height: 700px;
      background-color: rgba(243,160,122,0.7);
   
    
}

.seru p {
    width: 1000px;
 margin-left: 100px;
    margin-top: 50px;
    border: 5px solid #ed7e41;
    border-radius: 10px;
  float: left;
    
    font-family: "Hiragino Maru Gothic Pro";
        font-size: 20px;
    font-weight: 1;
padding: 20px;
    line-height: 2;
    
}
.seru p span{
 
    font-size: 50px;
    text-align: center;
    font-family: "check";
}
.seru-image{
      width: 650px;
    float: left;
  padding-top: 20px;
    padding-left: 100px;

    
}
.seru-image2{
    width: 350px;
    float: right;
    margin-right:100px;
    margin-top: 0px;
}

.images{
    width: 1500px;
    height: 1500px;
    margin: 0 auto;
    margin-top: 200px;
    
}
.images {
    position: relative;
    padding-left: 150px;
    padding-right: 150px;
      padding-top: 50px;
    display: grid;
  grid-template-columns: 300px 300px 300px;
    grid-column-gap: 250px;
    
    
}
.image{
 background-image: linear-gradient(-60deg, #ff9c72 0%, #ed7e41 100%);
}

.sa {
  opacity: 0;
  transition: all .5s ease;
}
 
.sa.show {
  opacity: 1;
  transform: none;
}
.sa--up {
  transform: translate(0, 100px);
}

.sa--up p{


    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    
    opacity: 0;

    
}


.sa--up p:hover{
    
      -webkit-transform: translate(0px, 10px);
    -ms-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
    transform: translate(0px, 10px);
    
    opacity:1;
    
}

.sa--up .fuwa{
    z-index: 10;
    position: absolute;
        display: grid;
  grid-template-columns: 300px 300px 300px;
    grid-column-gap: 250px;
  margin: -310px -80px -200px  10px;
    
}

/*
.sa--up .seijin{
    width: 100px;
    position: absolute;
   top: 90px;
   left: 155px;
}


.sa--up .sorami{
    width: 100px;
    position: absolute;
   top: 55px;
   left: 640px;
}


.sa--up .kihune{
    width: 100px;
    position: absolute;
   top: 75px;
   left: 1235px;
}


.sa--up .nesuta{
    width: 100px;
    position: absolute;
   top: 430px;
   left: 240px;
}


.sa--up .jusan{
    width: 100px;
    position: absolute;
   top: 465px;
   left: 705px;
}
*/

/*
.sa--up .jusan2{
    width: 100px;
    position: absolute;
   top: 440px;
   left: 1190px;
}


.sa--up .torii{
    width: 100px;
    position: absolute;
   top: 795px;
   left: 310px;
}

.sa--up .bokujo{
    width: 100px;
    position: absolute;
   top: 790px;
   left: 815px;
}

.sa--up .bokujo2{
    width: 100px;
    position: absolute;
   top: 800px;
   left: 1230px;
}
*/

/*
.sa--up .jinja{
    width: 100px;
    position: absolute;
   top: 1168px;
   left: 250px;
}


.sa--up .hashi{
    width: 100px;
    position: absolute;
   top: 1175px;
   left: 750px;
}

.sa--up .hari{
    width: 100px;
    position: absolute;
   top: 1195px;
   left: 1220px;
}

*/


.seru .tfb{
    font-family: "check";
color: #ffffff;
     margin-top: 250px;
    margin-left: 0px;
  font-size: 30px;
    background-color: #ed7e41;
    border: 5px solid #ffffff;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    
    
}



.seru .tfb:hover{
    background-color: #db2a08;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}